*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
document/ROOT-201005.war
document/DB/DB.png
document/DB/ERD.mwb
document/DB/ERD.mwb.bak
